.contact {
  margin-bottom: 60px;
}

.contact__desc {
  max-width: 380px;
  width: 100%;
  font-family: 'Open Sans';
  font-size: 1rem;
  line-height: 1.4rem;
  color: #1E0606;
}

.contact__desc p {
  margin-bottom: 22px;
}

.contact__desc span {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.1rem;
  text-transform: uppercase;
  color: #c29974;
}
